body{
    background-color: #f8f9fa;
}

*{
    margin: 0;
}

header{
    font-family: Kanit;
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 3px 2px 3px rgba(126, 126, 126, 0.26);
    position:fixed; 
    top:0;
    z-index: 2;
} 

p{
    color: #191919;
    font-weight: bold;
    font-size: 20px;
}

nav{
    display: flex;
    align-items: center;
    list-style: none;
}

a{
    margin-right: 40px;
    color: #2e3236;
    font-size: 16px;
    text-decoration: none;
}

a:hover{
    color: #2937f0;
}

.bi{
    cursor: pointer;
    background-color: #2937f0;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    color: #ffffff;
}

.bi:hover{
    color: #ffffff;
}

article{
    display: flex;
}

.text-page1{
    margin: 134px 0 0 180px;
    width: 37.5%;
}

.text-page1 h1{
    color: #212529;
    font-family: Newsreader;
    font-size: 80px;
    line-height: 80px;
}

.text-page1 p{
    margin-top: 15px;
    line-height: 30px;
    color: #6c757d;
    font-family: Mulish;
    font-weight: light;
}

.phone-desing img{
    margin: 92px 0 0 160px;
    width: 240px;
    position: absolute;
    z-index: 1;
}

video{
    width: 210px;
    position: absolute;
    z-index: -1;
    margin: 100px 0 0 175px;
}

.phone-desing .circle{
    margin: 147px 0 0 90px;
    width: 365px;
    height: 365px;
    position: absolute;
    z-index: -2;
    border-radius: 50%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,42,234,1) 0%, rgba(158,26,226,1) 100%); 
}

.cross1{
    background-color: #2937f0;
    border-radius: 50px;
    transform: rotate(35deg);
    margin: 490px 0 0 80px;
    width: 20px;
    height: 6px;
}

.cross2{
    background-color: #2937f0;
    border-radius: 50px;
    transform: rotate(-55deg);
    margin: -6px;
    margin-left: 80px;
    width: 20px;
    height: 6px;
}

.lit-cir{
    background-color: #2937f0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left:  470px;
    margin-top: -300px;
}

.page-2{
    margin-top: 140px;
    width: 100%;
    height: 550px;
    background-image: url(./media/code.jpg);
    background-size: cover;
    background-position: center;
}

.page-2 h1{
    font-family: Newsreader;
    width: 49%;
    color: #ffffff;
    line-height: 80px;
    font-size: 80px;
}

.page-2 .text-1{
    padding-top: 120px;
    padding-left: 175px;
}

.page-2 .text-2{
    padding-left: 175px;
}

.btn{
    cursor: pointer;
    background-color: transparent;
    border-radius: 50px;
    color: #f5f6f7;
    font-family: Mulish;
    padding: 18.5px;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #d8d8d7;
    margin: 24px 0 0 187px;
}


